body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(270deg, #f8fafc, #e0e7ff, #c40000, #e78c8c);
    background-size: 800% 800%;
    animation: gradientFun 12s ease-in-out infinite;
    color: #222;
}

header {
    
    background: rgba(255, 255, 255, 0.8);
}

